.App {
  text-align: center;
display: flex;
align-items: center;
min-height: 100vh;
justify-content: center;
}

button{
  width: 7rem;
  padding: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  border-radius: .2rem;
  border: none;
  background-color:lightgray;
}